@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Roboto:wght@300&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: #fff;
	font-size: 14px;
	font-family: 'Acme', sans-serif;

}
.wrapper{
	width: 100%;
	height: 100vh;
	background-image: url('../images/banner.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
	display: flex;
	justify-content: center;
	align-items: center;
}
.wrapper .main-area{
	width: 450px;
	background: rgb(255 255 255/75%);
	border-radius: 10px;
	padding: 35px;
	backdrop-filter: blur(5px);
}
.wrapper .main-area h1{
	font-variant: small-caps;
	font-size: 45px;
	margin-bottom: 10px;
	text-align: center;
}
.wrapper .main-area h1 span{
	color: #f57224;
}
.wrapper .main-area .single-input-area {
	position: relative;
}
.wrapper .main-area .single-input-area input{
	padding: 12px 30px;
	width: 100%;
	/*border-radius: 5px;*/
	border:1px solid rgba(0, 0, 0, 0.352);
	outline: none;
	background-color: transparent;
	margin-bottom: 10px;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	position: relative;
}
.wrapper .main-area .submit-area{
	text-align: center;
}
.wrapper .main-area .submit-area button{
	padding: 12px 30px;
	/*border-radius: 5px;*/
	border:none;
	outline: none;
	background-color: #f57224;
	font-size: 14px;
	color: #fff;
	cursor: pointer;
	font-family: 'Roboto', sans-serif;
}
.have-account{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 10px;
}
.have-account a{
	text-decoration: none;
	color: rgb(32, 32, 32);
}
.wrapper .main-area  i{
    position: absolute;
}
.left-icon{
	left: 0;
	top: 30%;
	padding: 0px 5px;
	color: rgba(0, 0, 0, 0.352);
}
.right-icon{
	right: 0;
	top: 30%;
	padding: 0px 5px;
	color: rgba(0, 0, 0, 0.352);
}
.eye-close{
	display: none;
}
/*.tooltip{
	position: relative;
	background: #ff3456;
	padding: 5px 10px;
	margin: 10px;
	font-size: 15px;
	border-radius: 10px;
	color:#fff;
}*/
.tooltip{
	color:#000;
}
.tooltip:before,
.tooltip:after{
	position: absolute;
	content: "";
	opacity: 0;
	transition: all 0.4s ease;

}
.tooltip:before{
	border-width: 10px 8px 0px 8px;
	border-style: solid;
	border-color: #D8D8DA transparent transparent transparent;
	top:-15%;
	transform: translateY(20px);
}
.tooltip:after{
	content:attr(data-tooltip);
	width: auto;
	height: 50px;
	background-color:#D8D8DA;
	font-size: 13px;
	font-weight: 300;
	top:-150%;
	left: -20px;
	padding: 10px;
	letter-spacing: 1px;
	transform: translateY(20px);
	border-radius: 10px;
}
.tooltip:hover::before,
.tooltip:hover::after{
	opacity: 1;
	transform: translateY(-2px);

}
@keyframes shake{
	0%{
		transform: rotate(2deg);
	}
	50%{
		transform: rotate(-3deg);
	}
	70%{
		transform: rotate(3deg);
	}
	0%{
		transform: rotate(0deg);
	}
}
.tooltip-animation:hover{
	animation: shake 500ms ease-in-out forwards;
}